# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
.venv/

# IDE
.idea/

# Testing
.pytest_cache/

# Environment variables
.env
